.meus-filmes {
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meus-filmes h1 {
  margin-bottom: 15px;
}

.meus-filmes span {
  font-size: 20px;
}

.meus-filmes ul {
  width: 720px;
}

.meus-filmes ul li {
  list-style: none;
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meus-filmes div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meus-filmes div a {
  text-decoration: none;
  color: #116feb;
  margin-right: 15px;

}

.deletar-filme {
  padding: 8px 14px;
  border-radius: 8px;
  background-color: #116feb;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  outline: none;
  cursor: pointer;
}
